<div class="text-center my-5">
  <div class="d-flex flex-wrap justify-content-center align-items-start set-gallery-images">
    {{#each names}}
      <img src="/images/photography/westcoast/{{.}}" class="img-w-300px mb-2 mx-1">
    {{/each}}
  </div>
  {{#if descr}}<small class="d-block text-muted">{{{descr}}}</small>{{/if}}
</div>
