<div class="my-12">
  <div class="flex flex-wrap justify-center items-start js-quick-gallery">
    {{#each names}}
      <img src="/images/photography/westcoast/{{.}}" class="w-[300px] max-w-full h-auto mb-2 mx-1 cursor-pointer">
    {{/each}}
  </div>
  {{#if descr}}<div class="text-xs text-center text-zinc-500 dark:text-zinc-400">{{{descr}}}</div>{{/if}}
</div>
