<div class="my-12">
  <img src="/images/photography/westcoast/{{name}}" class="mx-auto h-auto {{#if h}}w-full{{/if}}{{#if v}}max-w-full {{#if customWidth}}{{customWidth}}{{/if}}{{#unless customWidth}} w-[500px] {{/unless}}{{/if}}">
  {{#if descr}}<div class="text-xs text-center mt-2 text-zinc-500 dark:text-zinc-400">{{{descr}}}</div>{{/if}}
</div>
