<div class="text-center my-5">
  <img src="/images/photography/westcoast/{{name}}" class="{{#h}}w-100 h-auto{{/h}}{{#w}}img-w-500{{/w}}">
  {{#descr}}<small class="d-block mt-2 text-muted">{{.}}</small>{{/descr}}
</div>
