<div class='my-12'>
  <div class='video-container'>
    <iframe src='https://www.youtube.com/embed/{{name}}' frameborder='0'></iframe>
  </div>
  {{#if descr}}<div class='text-xs text-center mt-2 text-zinc-500'>{{{descr}}}</div>{{/if}}
</div>
