<div class='text-center my-5'>
  <div class='video-container'>
    <iframe src='https://www.youtube.com/embed/{{name}}' frameborder='0'></iframe>
  </div>
  {{#if descr}}<small class='d-block mt-2 text-muted'>{{{descr}}}</small>{{/if}}
</div>
