---
layout: layouts/base.njk
title: NYC - PART 13
metaImage: /images/photography/nyc-part13/6.jpg
pageStyle:
  - /styles/lightgallery.min.css
---
<div class="container-fluid px-4 pb-4">
  <h2 class="font-italic">NYC - <span class="js-lcl" data-lcl="part">{{{ defaultLocale 'part' }}}</span> 13</h2>
  <p class="lead text-uppercase font-italic js-lcl" data-lcl="nycPart13Desc">{{{ defaultLocale 'nycPart13Desc' }}}</p>
  <div class="gallery d-flex flex-wrap">
    {{#each images}}
      <a class="flex-grow-1 mr-1 mb-1" href="{{this.url}}">
        <img src="{{this.url}}" alt="" />
      </a>
    {{/each}}
    <div class="tail mr-1 mb-1"></div>
  </div>
</div>
