// Variables

$main-color: #e7254d;

// Fonts

@font-face {
  font-family: 'Lazer84';
  src: url('../webfonts/Lazer84.ttf');
}

@font-face {
  font-family: 'Lora';
  src: url('../webfonts/Lora-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Lora-Italic';
  src: url('../webfonts/Lora-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../webfonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../webfonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Bolder';
  src: url('../webfonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../webfonts/Roboto-Bold.ttf');
}

.font-retro {
  font-family: 'Lazer84';
}

.font-serif {
  font-family: Lora, Georgia, Cambria, 'Times New Roman', Times, serif;
}

// Common

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

a {
  color: $main-color;
}

a:hover {
  color: darken($main-color, 20%);
}

.standalone-brand {
  position: absolute;
  top: 21px;
  left: 24px;
  z-index: 1;
  font-size: 1.25rem;
  text-decoration: none !important;
}

.logo {
  letter-spacing: 3px;
  transition: color 2s ease-out;
  -moz-transition: color 2s ease-out;
  -webkit-transition: color 2s ease-out;
  -o-transition: color 2s ease-out;
}

.navbar-dark .logo,
.standalone-brand .logo {
  color: rgba(255, 255, 255, 0.2);
}

.navbar-light .logo,
.standalone-brand .logo {
  color: rgba(0, 0, 0, 0.2);
}

.logo:hover {
  color: $main-color;
}

.bottom-buttons {
  position: fixed;
  bottom: 0.75rem;
  right: 1rem;
  z-index: 1030;
}

.lang-toggle {
  cursor: pointer;
  opacity: 0.6;
}

.lang-toggle:hover {
  opacity: 1;
}

.full-screen,
.full-screen-menu {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.full-screen-menu {
  top: 72px;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

// Home

.slideshow-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  overflow: hidden;
}

.slideshow-wrapper .slideshow {
  height: 100%;
  overflow: hidden;
}

.slideshow-wrapper .slideshow img {
  display: none;
  margin: auto;
  max-width: 201%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: -50%;
  right: 0;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

@media (min-width: 768px) {
  .slideshow-wrapper .slideshow img {
    max-width: 150.75%;
    left: -25%;
  }
}

@media (min-width: 992px) {
  .slideshow-wrapper .slideshow img {
    max-width: 100.5%;
    left: 0;
  }
}

// Gallery

.gallery {
  margin-right: -0.25rem;
}

.gallery a {
  height: 40vh;
}

.gallery a:hover {
  opacity: 0.8;
}

.gallery .tail {
  flex-grow: 10;
}

.gallery a img {
  max-height: 100%;
  min-width: 100%;
  width: auto;
  object-fit: cover;
  vertical-align: bottom;
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .gallery {
    flex-direction: row;
  }

  .gallery a {
    width: 100%;
  }

  .gallery a img {
    width: 100%;
    min-width: 0;
  }
}

// Maps
.map-title-nyc {
  position: absolute;
  top: 20px;
  left: 24px;
  z-index: 1;
  text-shadow: #000 2px 2px;
}

.mapboxgl-popup-close-button:focus {
  outline: none;
}

.popup-gallery .popup-gallery-images {
  width: 218px;
}

.popup-gallery .popup-gallery-images img {
  display: none;
  height: 145px;
  cursor: pointer;
}

.popup-gallery .popup-gallery-images img:first-child {
  display: block;
}

.popup-gallery-prev,
.popup-gallery-next {
  cursor: pointer;
}

.popup-gallery-prev:hover,
.popup-gallery-next:hover {
  opacity: 0.7;
}

.popup-gallery .popup-gallery-images img {
  display: none;
  height: 145px;
  cursor: pointer;
}

.set-gallery-images img {
  cursor: pointer;
}

// Articles

.img-wrapper {
  text-align: center;
  margin: 3rem 0;
}

$img-sizes: 100px, 200px, 300px, 400px, 500px;

@each $size in $img-sizes {
  .img-w-#{$size} {
    width: $size;
    max-width: 100%;
    height: auto;
  }
}

// Contact

.avatar {
  width: 200px;
}

// Prints

.print-tag {
  height: 200px;
  width: 280px;
}

.print-frame {
  border-width: 10px;
  border-style: solid;
  -webkit-box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.print-frame-thumb {
  border-width: 8px;
  cursor: pointer;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.print-frame-thumb:hover {
  opacity: 0.8;
}

.print-frame-dark {
  border-color: #000;
}

.print-frame-light {
  border-color: #fff;
}

.print-mat {
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: inset -1px 1px 6px 1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: inset -1px 1px 6px 1px rgba(0, 0, 0, 0.24);
  box-shadow: inset -1px 1px 6px 1px rgba(0, 0, 0, 0.24);
}

.print-frame-thumb .print-mat {
  padding: 20px;
}

.print-image {
  position: relative;
}

.print-image img {
  max-height: 450px;
  width: auto;
}

.print-frame-thumb .print-image img {
  max-height: 170px;
}

.print-image .print-image-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-color {
  width: 2rem;
  height: 2rem;
}

// Video

.video-wrapper {
  position: relative;
  padding-bottom: 53.5%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px) {
  .video-wrapper {
    padding-bottom: 641px;
  }

  .video-wrapper iframe {
    width: 1140px;
    height: 641px;
    left: 50%;
    margin-left: -570px;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Bootstrap override

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.navbar {
  z-index: 1030;
}

@media (max-width: 992px) {
  .navbar-collapse {
    background-color: #000;
  }
}

.dropdown-item {
  font-weight: 300;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #dcdcdc;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: $main-color;
}

.bg-black {
  background-color: #000;
}

.text-black {
  color: #000;
}

.toast {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1070;
}

.rounded {
  border-radius: 0.15rem !important;
}

.font-weight-regular {
  font-family: 'Roboto-Regular';
}

.font-weight-bolder {
  font-family: 'Roboto-Bolder';
  font-weight: unset !important;
}

.font-weight-bold {
  font-family: 'Roboto-Bold';
  font-weight: unset !important;
}

// Likely override

.likely__widget_facebook,
.likely__widget_vkontakte,
.likely__widget_twitter {
  fill: #343a40;
}
