.mapboxgl-map,
.mapboxgl-map .mapboxgl-canvas {
  outline-color: transparent !important;
}

.wc-splash {
  background-image: url(/images/photography/westcoast/splash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wc-marker {
  width: 20px;
  height: 20px;
  background-color: #f42e25;
  border: 6px solid darken($color: #f42e25, $amount: 13);
  border-radius: 50%;
}

.wc-route-head {
  width: 16px;
  height: 16px;
  background-color: darken($color: #f42e25, $amount: 13);
  border: 4px solid #f42e25;
  border-radius: 50%;
}

.wc-marker-text {
  font-family: 'PermanentMarker';
  color: #f42e25;
  text-shadow: 2px 2px 0px #99110a;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .wc-map,
  .wc-content {
    height: 100%;
  }
}
