---
theme: dark
---
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="{{ config.name }}"/>
    <meta property="og:description" content="{{ title }}"/>
    {% if metaImage %}
      <meta property="og:image" content="{{ metaImage }}" />
    {% endif %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{{ config.name }} — {{ title }}</title>
    <link href="/styles/bootstrap-override.css" rel="stylesheet">
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/index.css" rel="stylesheet">
    {% for style in pageStyle %}
      <link href="{{ style }}" rel="stylesheet">
    {% endfor %}
  </head>

  <body class="{{ 'bg-light text-dark' if theme === 'light' else 'bg-black text-white' }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2Z9W2X70C5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2Z9W2X70C5');
    </script>

    <!-- Main menu -->
    <nav class="navbar navbar-expand-lg {{ 'navbar-light' if theme === 'light' else 'navbar-dark' }} bg-transparent px-4 py-3">
      <a class="navbar-brand" href="/">
        <span class="logo font-retro">{{ config.name }}</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav ml-auto text-uppercase font-italic">
          {% set navPages = collections.all | eleventyNavigation %}
          {%- for navPage in navPages.reverse() %}
            <li class="nav-item {{ 'dropdown' if navPage.children.length else '' }} {{ 'active' if navPage | isActivePage(page) else '' }}">
              {%- if navPage.children.length -%}
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">{{ navPage.title | safe }}&nbsp;</a>
                <div class="dropdown-menu">
                  {%- for childPage in navPage.children %}
                    <a class="dropdown-item {{ 'active' if childPage | isActivePage(page) else '' }}" href="{{ childPage.url | url }}">{{ childPage.title | safe }}</a>
                  {% endfor -%}
                </div>
              {% else %}
                <a class="nav-link" href="{{ navPage.url | url }}">{{ navPage.title | safe }}</a>
              {%- endif -%}
            </li>
          {%- endfor %}
          <li class="nav-item ml-lg-2">
            <a class="nav-link" href="https://instagram.com/ivkrpv/" target="_blank">
              <span title="" data-toggle="tooltip" data-placement="left" data-offset="0,4" data-original-title="Instagram">
                <i class="fab fa-instagram fa-lg"></i>
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://unsplash.com/@ivkrpv" target="_blank">
              <span title="" data-toggle="tooltip" data-placement="left" data-offset="0,4" data-original-title="Unsplash">
                <i class="fab fa-unsplash fa-lg"></i>
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://medium.com/@ivkrpv" target="_blank">
              <span title="" data-toggle="tooltip" data-placement="left" data-offset="0,4" data-original-title="Medium">
                <i class="fab fa-medium fa-lg"></i>
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://t.me/vongrundaufneu" target="_blank">
              <span title="" data-toggle="tooltip" data-placement="left" data-offset="0,4" data-original-title="von Grund auf neu 🇩🇪">
                <i class="fab fa-telegram fa-lg"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Main menu -->

    {{ content | safe }}

    <div class="bottom-buttons d-flex">
      <div class="lang-toggle js-locale">
        <i class="fas fa-globe" aria-hidden="true"></i> <span class="js-lcl" data-lcl="localeToggle">{% defaultLocale config, locale, 'localeToggle' %}</span>
      </div>
    </div>

    <script src="/scripts/jquery-3.1.1.min.js"></script>
    <script src="/scripts/bootstrap.bundle.min.js"></script>
    <script src="/scripts/index.js"></script>
    {% for script in pageScript %}
      <script src="{{ script }}"></script>
    {% endfor %}
  </body>

</html>
