---
theme: dark
---
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="{{ config.name }}"/>
    <meta property="og:description" content="{{ title }}"/>
    {% if metaImage %}
      <meta property="og:image" content="{{ metaImage }}" />
    {% endif %}
    <link rel="shortcut icon" href="/images/favicon.ico">
    <title>{{ config.name }} — {{ title }}</title>
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/likely.css" rel="stylesheet">
    <link href="/styles/index.css" rel="stylesheet">
    {% for style in pageStyle %}
      <link href="{{ style }}" rel="stylesheet">
    {% endfor %}
  </head>

  <body class="{{ 'bg-light text-dark' if theme === 'light' else 'bg-black text-white' }}">
    <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter42981244 = new Ya.Metrika({ id:42981244, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/42981244" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

    <!-- Main menu -->
    <nav class="navbar navbar-expand-lg {{ 'navbar-light' if theme === 'light' else 'navbar-dark' }} bg-transparent px-4 py-3">
      <a class="navbar-brand" href="/">
        <span class="logo font-retro">{{ config.name }}</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav ml-auto text-uppercase font-italic">
          {% set navPages = collections.all | eleventyNavigation %}
          {%- for navPage in navPages.reverse() %}
            <li class="nav-item {{ 'dropdown' if navPage.children.length else '' }} {{ 'active' if navPage | isActivePage(page) else '' }}">
              {%- if navPage.children.length -%}
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">{{ navPage.title | safe }}&nbsp;</a>
                <div class="dropdown-menu">
                  {%- for childPage in navPage.children %}
                    <a class="dropdown-item {{ 'active' if childPage | isActivePage(page) else '' }}" href="{{ childPage.url | url }}">{{ childPage.title | safe }}</a>
                  {% endfor -%}
                </div>
              {% else %}
                <a class="nav-link" href="{{ navPage.url | url }}">{{ navPage.title | safe }}</a>
              {%- endif -%}
            </li>
          {%- endfor %}
          <li class="nav-item ml-lg-2">
            <a class="nav-link" href="https://instagram.com/ivkrpv/" target="_blank">
              <span title="" data-toggle="tooltip" data-placement="left" data-offset="0,4" data-original-title="Instagram">
                <i class="fab fa-instagram fa-lg"></i>
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://medium.com/@ivkrpv" target="_blank">
              <span title="" data-toggle="tooltip" data-placement="left" data-offset="0,4" data-original-title="Medium">
                <i class="fab fa-medium fa-lg"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Main menu -->

    {{ content | safe }}

    <div class="bottom-buttons d-flex">
      <div class="likely likely-small {{ 'likely-dark' if theme === 'light' else 'likely-light' }}">
        <div class="facebook mb-0 mt-1 lcl" data-lcl="share" data-lcl-attr="title"></div>
        <div class="vkontakte mb-0 mt-1 lcl" data-lcl="share" data-lcl-attr="title" data-title="{{ config.name }} — {{ title }}"></div>
        <div class="twitter mb-0 mt-1 lcl" data-lcl="share" data-lcl-attr="title" data-title="{{ config.name }} — {{ title }}"></div>
      </div>
      <div class="lang-toggle ml-3 js-locale">
        <i class="fas fa-globe" aria-hidden="true"></i> <span class="lcl" data-lcl="localeToggle">{% defaultLocale config, locale, 'localeToggle' %}</span>
      </div>
    </div>

    <script src="/scripts/jquery-3.1.1.min.js"></script>
    <script src="/scripts/bootstrap.bundle.min.js"></script>
    <script src="/scripts/likely.js"></script>
    <script src="/scripts/index.js"></script>
    {% for script in pageScript %}
      <script src="{{ script }}"></script>
    {% endfor %}
  </body>

</html>
