---
theme: dark
---
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="{{ config.name }}"/>
    <meta property="og:description" content="{{ title }}"/>
    {% if metaImage %}
      <meta property="og:image" content="{{ metaImage }}" />
    {% endif %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{{ config.name }} — {{ title }}</title>
    <link href="/styles/bootstrap-override.css" rel="stylesheet">
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/index.css" rel="stylesheet">
    {% for style in pageStyle %}
      <link href="{{ style }}" rel="stylesheet">
    {% endfor %}
  </head>

  <body class="{{ 'bg-light text-dark' if theme === 'light' else 'bg-black text-white' }}">
    <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter42981244 = new Ya.Metrika({ id:42981244, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/42981244" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

    <a class="standalone-brand" href="/">
      <span class="logo font-retro">{{ config.name }}</span>
    </a>

    {{ content | safe }}

    <div class="bottom-buttons d-flex">
      <div class="lang-toggle js-locale">
        <i class="fas fa-globe" aria-hidden="true"></i> <span class="lcl" data-lcl="localeToggle">{% defaultLocale config, locale, 'localeToggle' %}</span>
      </div>
    </div>

    <script src="/scripts/jquery-3.1.1.min.js"></script>
    <script src="/scripts/bootstrap.bundle.min.js"></script>
    <script src="/scripts/index.js"></script>
    {% for script in pageScript %}
      <script src="{{ script }}"></script>
    {% endfor %}
  </body>

</html>
