---
layout: layouts/base.njk
title: STREET
metaImage: /images/photography/street/69.jpg
pageStyle:
  - /styles/lightgallery.min.css
---
<div class="container-fluid px-4 pb-4">
  <h2 class="mb-3"><span class="lcl" data-lcl="street">{{{ defaultLocale 'street' }}}</span></h2>
  <div class="gallery d-flex flex-wrap">
    {{#each images}}
      <a class="flex-grow-1 mr-1 mb-1" href="{{this.url}}">
        <img src="{{this.url}}" alt="" />
      </a>
    {{/each}}
    <div class="tail mr-1 mb-1"></div>
  </div>
</div>
