---
layout: layouts/base.njk
title: NYC - PART 10
metaImage: /images/photography/nyc-part10/5.jpg
pageStyle:
  - /styles/lightgallery.min.css
---
<div class="container-fluid px-4 pb-4">
  <h2 class="font-italic">NYC - <span class="lcl" data-lcl="part">{{{ defaultLocale 'part' }}}</span> 10</h2>
  <p class="lead text-uppercase font-italic lcl" data-lcl="nycPart10Desc">{{{ defaultLocale 'nycPart10Desc' }}}</p>
  <div class="gallery d-flex flex-wrap">
    {{#each images}}
      <a class="flex-grow-1 mr-1 mb-1" href="{{this.url}}">
        <img src="{{this.url}}" alt="" />
      </a>
    {{/each}}
    <div class="tail mr-1 mb-1"></div>
  </div>
  <div class="row mt-1">
    <div class="col-lg-6 video-wrapper">
      <iframe src="https://www.youtube.com/embed/uplDqIn0faw?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6 video-wrapper">
      <iframe src="https://www.youtube.com/embed/m5_he197af8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
