---
layout: layouts/special.njk
theme: light
title: Along the West Coast
metaImage: /images/photography/westcoast/splash.jpg
pageStyle:
  - /styles/mapbox-gl.css
  - /styles/maps.css
  - /styles/lightgallery.min.css
---
<div class="full-screen row no-gutters">
  <div id="map-wc-map" class="col-sm-4">
    <div class="h-100 w-100 map-west-coast"></div>
  </div>

  <div id="map-wc-content" class="col-sm-8 h-100 overflow-scroll shadow">
    <div class="h-100 d-flex flex-column justify-content-between align-items-center bg-wc-splash">
      <div></div>
      <div class="text-center text-uppercase">
        <h1 class="font-weight-regular"><span class="lcl" data-lcl="westcoastTitle">{{{ defaultLocale 'westcoastTitle' }}}</span></h1>
        <div><span class="lcl" data-lcl="westcoastSubtitle">{{{ defaultLocale 'westcoastSubtitle' }}}</span></div>
      </div>
      <div class="mb-4 text-center text-white">
        <div>Продолжить читать&nbsp;&nbsp;<i class="fas fa-chevron-right" data-fa-transform="down-1"></i></div>
        <div>
          <a href="#monterey">Monterey, CA</a>
          <span class="mx-2">|</span>
          <a href="#santa-rosa">Santa-Rosa, CA</a>
          <span class="mx-2">|</span>
          <a href="#coos-bay-portland-route">Coos Bay, OR</a>
          <span class="mx-2">|</span>
          <a href="#portland">Portland, OR</a>
          <span class="mx-2">|</span>
          <a href="#seattle">Seattle, WA</a>
        </div>
      </div>
    </div>

    {{#> text}}
      <blockquote class="blockquote mt-5 text-right">
        <p class="mb-2">All he needed was a wheel in his hand and four on the road.</p>
        <footer class="blockquote-footer">Jack Kerouac, <cite>On the Road</cite></footer>
      </blockquote>

      {{> subHeader name="Пролог"}}
      <p>13 часов в Эйрбасе…</p>
      <p>Рейс Москва - Лос-Анджелес “Аэрофлота” – один из самых продолжительных в мире и самый длинный среди российский авиакомпаний. А я терпеть не могу долгие полеты на самолетах. Спать сидя в кресле на высоте десяти тысячи метров у меня не очень получается, поэтому я пробую убивать время ютубчиком и музыкой.</p>
    {{/text}}

    {{> image name="1.jpg" h=true}}

    {{#> text}}
      <p>Наконец наступает рассвет, вместе с ним последняя и самая интересная часть полета. В иллюминаторе показываются снежные фьорды Гренландии. Fuck, yeah! Мы над американским континентом и время уже начинает течь в обратную сторону!</p>
    {{/text}}

    {{> image name="2.jpg" descr="Гренландия" v=true}}

    {{#> text}}
      <p>Еще можно рассматривать что-нибудь внизу на земле. И если поднести телефон к иллюминатору и в любом приложении карт (лучше использовать оффлайновые, например Maps.ME) попробовать определить местоположение, то спустя где-то минуту можно будет увидеть свое текущее положение, а заодно и все то, что находится под вами. Особенно выручает, когда хочешь узнать, например, что это за огромное озеро на границе пустыни и гор. Оказалось, что это озеро Тахо.</p>
    {{/text}}

    {{> image name="3.jpeg" descr="Озеро Тахо" v=true}}

    {{#> text}}
      <p>Спасибо заставке на macOS – Йосемити узнается даже с воздуха. Но вскоре за бортом исчезают все облака, внизу показываются бесконечные, залитые солнцем, поля центральной Калифорнии и вот уже наш самолет делает крюк над огромным полотном маленьких домиков, пронизанным длинными извилистыми нитками хайвеев.</p>
    {{/text}}

    {{> gallery names=(arr "4.jpeg" "5.jpeg") descr="Заход на посадку"}}

    {{#> text}}
      <p>Please, fasten your seat belts. Мы прибыли в “город Ангелов”. Это отправная точка нашего путешествия на машине вдоль всего Западного побережья США с юга на север до Сиэтла и обратно. Несколько месяцев мы с братом вынашивали эту идею и готовили маршрут и вот, наконец, мы подошли к старту.</p>
    {{/text}}

    {{> image name="6.jpeg" descr="Центр ЛА над крылом самолета" h=true}}

    {{!-- Show the start point of the jorney --}}
    <div id="la-point"></div>
    <div id="la-label"></div>
    {{#> text}}
      {{> subHeader name="Лос-Анджелес"}}

      <p>По прилету на регистрации нас ждала огромная длинная очередь, вилявшая змейкой по всему огромному залу и которой, казалось, не было границ. Но в конце концов, после единственного вопроса про цель визита, уставший пограничник поставил штампики в паспорта <s>и сказал заветное “Welcome to the United States!”</s>. Потом довольно долго искали нужный автобус до парковки с прокатными машинами (аэропорт ЛА большой и не очень современный) и стояли минут 40 в пробке.</p>
    {{/text}}

    {{#> text}}
      <p>Аренда авто устроена следующим образом - ты платишь за класс авто и выбираешь любую из целого ряда машин, стоящих на парковке. Потом просто садишься в понравившуюся и уезжаешь. Наш выбор Chevrolet Equinox - среднеразмерный такой кроссовер, почти ничем и не выделяется, но это был единственный авто с Apple Car Play, а хорошая навигация в дороге это must have.</p>
    {{/text}}

    {{#> text}}
      <p>Из аэропорта мы поехали в отель в «город» Torrance. Город специально написал в кавычках, т.к. по своей сути это лишь один из районов Los Angeles metropolitan area (Большой ЛА, если по нашему). По крайней мере границ между настоящим ЛА и вот такими вот окружающими его городами-районами вы не увидите.</p>
    {{/text}}

    {{> image name="8.jpg" v=true}}

    {{#> text}}
      <p>Привет джет-лаг. После суток без сна выключаешься почти сразу, но вечером решили выползти из отеля и сходить к океану. Помню только, что было тепло, красивый закат, неоновые вывески и чувство, что ты находишься внутри GTA 5.</p>
    {{/text}}

    {{> image name="7.jpeg" descr="Вид из двери мотеля" h=true}}

    {{> gallery names=(arr "9.jpeg" "10.jpeg" "12.jpeg") descr="GTA 5"}}

    {{> gallery names=(arr "13.jpeg" "14.jpeg")}}

    {{#> text}}
      <p>В ЛА мы всего на полтора дня. Ничто для такого огромного города, но он и не является целью нашего путешествия. Когда-нибудь в следующий раз.</p>
    {{/text}}

    {{> image name="16.jpeg" descr="Torrance" h=true}}

    {{> gallery names=(arr "15.jpeg" "17.jpeg") descr="5 утра. Так рано могу встать только когда джет-лаг :)"}}

    {{#> text}}
      <p>Доехали до знаменитого пляжа Santa Monica с его фриками, бомжами, рыбаками и серферами.</p>
    {{/text}}

    {{> gallery names=(arr "18.jpeg" "20.jpeg" "19.jpeg") descr="Серферы и рыбаки"}}

    {{> image name="21.jpeg" h=true}}

    {{#> text}}
      <p>Передвигаясь по ЛА понимаешь насколько он огромный в плане расстояний. Вроде смотришь на карту - недалеко, можно и пешком пройтись, на деле оказывается - 30-40 минут на машине.</p>
    {{/text}}

    {{> image name="22.jpeg" descr="Сарайка спасателей" h=true}}

    {{#> text}}
      <p>Вечером решили слазить на холмы у Griffith Observatory. Такой мини треккинг, не зря же я взял с собой треккинговые кроссовки. Холмы не очень крутые, но идеально походят для треккинга внутри города, тем более с местных троп открываются просто открыточные виды на центр ЛА и легендарные буквы HOLLYWOOD. На вершине холма было несколько лавочек и немного людей, поднявшихся сюда, как и мы позалипать на закат.</p>
    {{/text}}

    {{> image name="23.jpeg" descr="HOLLYWOOD" h=true}}

    {{> image name="24.jpeg" descr="На вершине холма" h=true}}

    {{> image name="25.jpeg" h=true}}

    {{#> text}}
      <p>Центр Лос-Анджелеса уходящий в дымку, сумерки, шум города вдалеке и редко пролетающие вертолеты.</p>
    {{/text}}

    {{> image name="26.jpeg" h=true}}

    {{> image name="27.jpeg" descr="Griffith Observatory и город" h=true}}

    {{> video name="-J272DqxCQw"}}

    {{#> text}}
      <p>Спускались уже в темноте, освещая тропу фонариками айфонов, даже хотели срезать путь, но дойдя до обрыва (или он просто таким казался ночью) решили вернуться без приключений. На парковке около машины заметили суету - дрались две собаки, но подойдя ближе поняли, что это какие-то странные собаки. Дрались два койота!</p>
    {{/text}}

    {{> image name="28.jpeg" h=true}}

    {{> image name="29.jpeg" descr="Где-то там внизу наша машина" v=true}}

    {{#> text}}
      <p>Обратно в Торренс решили вернуться через Downtown. Но из окна автомобиля и уже ночью рассмотреть что-то особо и не удалось.</p>
    {{/text}}

    {{> image name="31.jpeg" descr="Ночной Downtown" h=true}}

    {{> image name="30.jpeg" h=true}}

    {{> image name="32.jpeg" h=true}}

    {{#> text}}
      <p>С городом ангелов пора прощаться и отправляться в дорогу, в следующий раз мы вернемся сюда только в самом конце путешествия и уже только в аэропорт. Но хотел бы рассказать про еще один момент - дороги Лос-Анджелеса. На самом деле почти весь город представляет собой бесконечные жилые одноэтажные кварталы, растянувшиеся на десятки километров. И передвигаться бы по нему было бы практически невозможно если бы не фривеи (а не хайвеи, т.к. Highway - это просто любая дорога, а Freeway - это скоростной highway с определенными стандартами), пронизывающие город во всех направлениях - Metropolitan Los Angeles Freeway System и которые начали строить еще в 1950х.  Впервые оказавшись на фривее кажется, что все двигаются с очень большой скоростью, а особенно это ощущается на мерджингах (merging - слияние) двух дорог, т.к. никто не сбавляет скорость, да это и не нужно - фривеи соединяются под плавным углом и ограничение на “повороте” такое же как и на прямом участке. Но к этому очень быстро привыкаешь и понимаешь, что вся дорожная система очень продумана.</p>
    {{/text}}

    {{> image name="la1947freeways.jpg" descr="Мастер план фривеев Большого Лос-Анджелеса, 1947 г." h=true}}

    {{#> text}}
      <p>В общем дороги в США круты, а точнее их система дорог или автомагистралей. В дорожной системе Соединенных Штатов выделяют 4 основных типов дорог. Каждая автомагистраль любого типа имеет свой номер и свой дорожных знаках с уникальным дизайном, что позволяет легко и быстро идентифицировать дорогу.</p>

      <ol>
        <li class="mb-2">
          <div><b>Интерстэйты или межштатные автомагистрали</b> – костяк автомобильной дорожной сети США. Автомагистрали, по которым передвигаются миллионы людей в стране. Спроектированы и построены по особым стандартам для наиболее эффективного и безопасного высокоскоростного передвижения. Финансируются государством, а содержание и ремонт осуществляют власти штата, по которому пролегает участок дороги. Имеют глобальную нумерацию внутри страны, а на дороге обозначаются обычно номером на сине-красном щите.</div>
          <div class="text-center mt-2">
            <img src="/images/photography/westcoast/ushighways1.png" class="img-w-100px mb-2">
          </div>
        </li>
        <li class="mb-2">
          <div><b>Автомагистрали США</b> – более старая система автомагистралей государственного значения, однако после появления интерстэйтов, роль дорог данного типа снизилась до поездок средней дальности, преимущественно внутри одного штата. Могут быть построены как по высоким стандартам безопасности, так и быть обычной 2-х полосной дорогой без разделителя. Ремонт и содержание таких дорог распределяется между властями штата и местными властями. Нумерация похожа на межштатную, а обозначается они номером на белом щите.</div>
          <div class="text-center mt-2">
            <img src="/images/photography/westcoast/ushighways2.png" class="img-w-100px mb-2">
          </div>
        </li>
        <li class="mb-2">
          <div><b>Автомагистрали штата</b> – как видно из названия, это дороги внутри одного штата. Так же строятся по различным стандартам и их качество заметно различается. Управляют такими дорогами полностью власти штата. Имеют собственную внутри-штатную нумерацию и самые клевые значки (у каждого штата свой дизайн).</div>
          <div class="text-center mt-2">
            <div class="d-flex flex-wrap justify-content-center align-items-start">
              <img src="/images/photography/westcoast/ushighways31.png" class="img-w-100px mb-2 mx-1">
              <img src="/images/photography/westcoast/ushighways32.png" class="img-w-100px mb-2 mx-1">
            </div>
          </div>
        </li>
        <li>
          <div><b>Автомагистрали округа</b> – дороги местного значения в некоторых штатах. Могут быть как крупными дорогами, так и грунтовыми, ведущими в отдалённые районы. Обеспечение таких дорог полностью лежит на органах местной власти. Знаки, как и у предыдущего типа дорог, так же имеют свой дизайн и нумерацию.</div>
          <div class="text-center mt-2">
            <div class="d-flex flex-wrap justify-content-center align-items-start">
              <img src="/images/photography/westcoast/ushighways41.png" class="img-w-100px mb-2 mx-1">
              <img src="/images/photography/westcoast/ushighways42.png" class="img-w-100px mb-2 mx-1">
            </div>
          </div>
        </li>
      </ol>

      <p>На самом деле в некоторых штатах есть и другие типы дорог, но их не так много и по большей части это дороги местного значения. Ну а нас ждала дорога под номером 1…</p>
    {{/text}}

    {{!-- Show the end point of the jorney --}}
    <div id="seattle-point"></div>
    <div id="seattle-label"></div>
    {{#> text}}
      {{> subHeader name="California 1"}}
      <p>California State Route 1, SR1 или Pacific Coast Highway - одна из самых красивых дорог США, проходящая вдоль большей части побережья Калифорнии, рядом с одной из самых живописных береговых линий в мире.</p>
    {{/text}}

    {{> image name="california1.png" descr="Дорожный знак-табличка 1 шоссе" v=true width=300}}

    {{#> text}}
      <p>Длина дороги 1056 км и начинается она около Dana Point (небольшой городок к юго-востоку от ЛА). Идет практически всегда вдоль берега, огибая многочисленные заливы, поднимаясь вверх в горы и спускаясь обратно вниз к воде. Проходит через два крупных мегаполиса - Лос-Анджелес и Сан-Франциско, иногда на своем пути совпадает со 101 шоссе, а заканчивается в поселении Leggett (где живет всего 122 человека) на севере Калифорнии. Строилась дорога не сразу, а постепенно кусками с 1934 года и была скорее набором разных дорог вплоть до 1964 года, когда ей был присвоен номер SR 1.</p>
    {{/text}}

    <div id="la-monterey-route">
      {{#> text}}
        <p>После небольшой справки продолжаем. Мы не стали делать петлю до Dana Point, а просто проехали пару километров от отеля до океана и выехали на 1 шоссе там. Дальше нам предстояло проехать 1000 км по одной дороге.</p>
      {{/text}}

      {{> video name="GqsbSZUOSd0"}}

      {{#> text}}
        <p>Из Лос-Анджелеса выехали рано утром, чтобы избежать пробок, но так или иначе постоять все равно пришлось. Улицы мегаполиса, пригороды, небольшие городки спутники и коттеджные поселки - чтобы выехать из цивилизации потребуется проехать не один десяток миль. Но вот домики и парковки стали попадаться уже значительно реже, осталась только дорога, песчаные горы с одной стороны, океан с другой и редкие машины с серфами вдоль обочин. Начинала проступать атмосфера роад-трипа.</p>
      {{/text}}

      {{> image name="33.jpeg" descr="Сразу после ЛА" h=true}}

      {{#> text}}
        <p>Дальше дорога от побережья сворачивает вглубь. Начинаются холмы и огромные фермерские поля с работающими на них мексиканцами. Иногда, проезжая очередную ферму, в машине появлялся резкий запах конопли. Точную причину мы так и не установили, но т.к. в Калифорнии легализовано производство и потребление каннабиса, то вероятно это были “те самые” фермы.</p>
      {{/text}}

      {{> image name="34.jpeg" descr="All-way stop перекресток" h=true}}

      {{#> text}}
        <p>Некоторые города по стилю очень напоминают мексиканские, ну или испанские. Не удивительно, ведь до 1850 года Калифорния не была в составе США, а контролировалась Мексикой и Испанией.</p>
      {{/text}}

      {{> gallery names=(arr "36.jpeg" "35.jpeg")}}

      {{> image name="37.jpeg" h=true}}

      {{#> text}}
        <p>Делаем первую остановку в городке Morro Bay. Заезжаем в Taco Bell, а затем к океану в бухту, где находится главная местная достопримечательность - скала Morro Rock.</p>
      {{/text}}

      {{> image name="38.jpeg" v=true}}

      {{> image name="39.jpeg" descr="Пляж Morro Bay" h=true}}

      {{> image name="40.jpeg" descr="Немного урбана" h=true}}

      {{> image name="41.jpeg" h=true}}

      {{#> text}}
        <p>Дальше дорога проходит через знаменитый Big Sur (не операционная система). Биг-Сур - это почти не заселенная дикая местность, где горы резко обрываются у побережья. Здесь очень красиво, почти нет населенных пунктов и заправок, и как следствие очень дорогой бензин. Поэтому заправляться лучше заранее. Дорогая здесь сильно петляет, превращаясь в серпантин. Появляются специальные обочины для медленных автомобилей - turnouts, на которых можно пропустить остальных вперед.</p>
      {{/text}}

      {{> image name="42.jpg" h=true}}

      {{> video name="2Rs_BgB5Mds" descr="Морские слоны"}}

      {{#> text}}
        <p>Нам не повезло с погодой и все побережье было окутано густым туманом, поэтому о том что здесь очень красиво пришлось просто поверить.</p>
      {{/text}}

      {{> image name="43.jpeg" descr="Bixby Creek Bridge" h=true}}

      {{> image name="44.jpeg" v=true}}
    </div>

    {{#> text}}
      {{> subHeader anchor="monterey" name="Monterey"}}

      <p>Когда уже начало темнеть мы приехали в Монтерей. То что в городе есть на что посмотреть, я узнал значительно позже. Тогда же мы просто взяли 6-pack местной IPA и отправились отмечать первый день дороги.</p>
    {{/text}}

    <div id="monterey-sf-route">
      {{#> text}}
        {{> subHeader name="Keep going"}}

        <p>Мотель в Монтерее был классический мотель из американского кино, два этажа и двери в комнаты прямо с улицы. Кстати, интересеный факт, во многих отелях (и этот был не исключением) в каждом номере лежит томик Библии. In God We Trust.</p>
        <p>Утром выезжаем из мотеля. Сегодня нам нужно проехать всего 70 миль до Сан-Хосе. Там живет наш друг, променявший уютное московское Ховрино на вечное лето Калифорнии.</p>
      {{/text}}

      {{> video name="XsKaxrerfK4"}}

      {{> image name="45.jpeg" h=true}}

      {{#> text}}
        <p>Едем вдоль побережья, пейзажи вокруг дороги напоминали бы безжизненную пустыню, если бы не огрмное количество ферм с искуственным орошением.</p>
        <p>Следующий городок - Санта-Круз, известный прежде всего по производству luxury велосипедов одноименной марки и по маленькой собачке из далекой Красной Поляны.</p>
        <p>Здесь мы ставим на паузу наше путешествие по 1 шоссе и сквозь холмы и серпантины едем в сторону Сан-Хосе.</p>
      {{/text}}

      {{> image name="46.jpeg" descr="Big Basin Way" h=true}}

      {{#> text}}
        <p>Картинка за окном резко меняется. Вместо пустыни и ферм, появляется хвойный лес с огромными деревьями по сторонам дороги. Извилистая дорога то поднимается вверх, открывая панорамные виды на округу, то спускается вниз в гущу леса.</p>
        <p>Сделаю небольшое отступление. Если вы планируете свое путешествие по дорогам США, то полезно знать хотя бы основные отличия американских ПДД от наших (их на самом деле не так много) и основные термины с которыми вы так или иначе столкнетесь в дороге. Ниже я собрал основные термины и понятия по дорожной теме США.</p>

        <ul>
          <li class="mb-2"><b>Highway</b> - в России этим термином ошибочно называют скоростное шоссе или магистраль, но на самом деле хайвей это просто автомобильная дорога, причем любая, даже грунтовая.</li>

          <li class="mb-2">
            <div><b>Divided / undivided highway</b> - этими терминами обозначают дороги с физическим разделителем между встречными потоками или без него. Есть даже специальные знаки для этого.</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs1.png" class="img-w-200px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div><b>Freeway</b> - а вот это как раз и есть, скоростная магистраль. Автомобильное шоссе, построенное по специальным стандартам (например, такие шоссе не пересекаются с другими дорогами на одном уровне, а въезды и выезды на такие шоссе есть только в определенных местах) и предназначенное для скоростного передвижения. Все интерстейты в США относятся к этой категории.</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs2.png" class="img-w-200px mb-2">
            </div>
          </li>

          <li class="mb-2"><b>Backroad</b> - второстепенная дорога, например в сельской местности.</li>

          <li class="mb-2">
            <div><b>One-way / two-way street</b> - улица с односторонним / двусторонним движением.</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs3.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2"><b>Turnpike / toll road</b> - платная дорога.</li>

          <li class="mb-2"><b>Overpass</b> - дорога проходящая по эстакаде.</li>

          <li class="mb-2"><b>Underpass</b> - дорога проходящая под эстакадой, мостом или другой дорогой.</li>

          <li class="mb-2">
            <div><b>Intersection / crossroad</b> - перекресток.</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs4.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div><b>Roundabout</b> - круговое движение.</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs5.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div><b>Pedestrian crosswalk / PED XING</b> - пешеходный переход.</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs6.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div><b>Dead end</b> - тупик.</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs7.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div><b>No outlet</b> - похоже на тупик, но используется не для одной дороги, а для сети дорог из которых есть только один въезд / выезд.</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs8.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2"><b>Lane</b> - полоса движения.</li>

          <li class="mb-2"><b>Line</b> - полоса разметки. Белые полосы в США разделяют потоки одного направления, а желтые - встречных. Так же важно знать, что двойная сплошная желтая полоса не такая “жесткая” как у нас. При отсутствии помех через нее можно развернуться или повернуть налево, при этом обгон через нее строго запрещен.</li>

          <li class="mb-2">
            <div><b>Shoulder</b> - обочина дороги.</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs8a.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2"><b>Sidewalk</b> - тротуар.</li>

          <li class="mb-2">
            <div><b>Carpool lane</b> - специальная полоса по которой имеют право двигаться только автомобили, в которых находятся несколько человек (минимум 2, как правило), или автобусы.</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs9.png" class="img-w-200px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div><b>Turnout</b> - специальная полоса справа на узких двухполосных дорогах (обычно в горах или холмистой местности), используемая медленным транспортом для того, чтобы другие могли его обогнать.</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs10.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div><b>Speed limit</b> - ограничение скорости. В некоторых местах скорость может контролироваться камерами или полицией. В Калифорнии на многих знаках есть надпись, что скорость контролируется с воздуха беспилотником. Как это выглядит для меня загадка до сих пор.</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs11.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div><b>Towing vehicle</b> - автомобиль с прицепом.</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs13.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div><b>Traffic light / signal</b> - светофор.</div>
            <div class="text-center mt-2">
              <div class="d-flex flex-wrap justify-content-center align-items-start">
                <img src="/images/photography/westcoast/signs14.png" class="img-w-100px mb-2 mx-1">
                <img src="/images/photography/westcoast/signs15.png" class="img-w-100px mb-2 mx-1">
              </div>
            </div>
          </li>

          <li class="mb-2">
            <div><b>Stop all-way</b> - специальные перекрестки со знаками Stop по всем направлениям. Очень распространены в Калифорнии. При подъезде к такому перекрестку вы должны остановиться и продолжить движение только при отсутствии помех. При подъезде нескольких автомобилей, первым проедет тот, кто подъехал первым.</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs16.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div><b>U-turn</b> - разворот.</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs17.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div><b>Yield</b> - уступи дорогу.</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs18.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div><b>Passing</b> - обгон.</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs19.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div><b>Merging</b> - перестроение, сливание нескольких транспортных потоков в один, например при выезде с развязки на шоссе.</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs20.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2"><b>Tailgating</b> - несоблюдение дистанции автомобилем двигающемся сзади, близко к автомобилю спереди. Считается серьезным нарушением и за это могут выписать штраф.</li>

          <li class="mb-2"><b>Traffic jam</b> - пробка.</li>

          <li>
            <div><b>Hazard</b> - опасность, часто на знаках этим термином обозначают опасную зону.</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs21.png" class="img-w-200px mb-2">
            </div>
          </li>
        </ul>
      {{/text}}
    </div>

    {{#> text}}
      {{> subHeader name="Сан-Хосе и Сан-Франциско"}}

      <p>C холмов мы спускаемся в один из пригородов Сан-Хосе. Хотя по большему счету почти весь город и выглядит как пригород - кварталы маленьких одноэтажных домиков с маленькими улицами и фривей в паре киллометров, отрезающий всю эту тихую идиллию от еще одной такой же.</p>
      <p>В глаза сразу бросается контраст с другими населенными пунктами, попадавшимся нам до этого. Здесь находятся одни из самых дорогих районов в США, рядом Кремниевая Долина - мировой центр IT технологий. Идеальные газоны, деревья, дороги, дорогие машины и роскошные дома.</p>
      <p>Через систему городских фривеев мы доезжаем до нашего друга, живущего на севере Сан-Хосе. Следующие несколько дней мы проводим тут, периодически выезжая в окрестности и в Сан-Франциско.</p>
    {{/text}}

    {{> image name="47.jpeg" descr="Сан-Хосе" h=true}}

    {{> image name="48.jpeg" descr="Подъезжаем к Сан-Франциско" h=true}}

    {{#> text}}
      <p>Хоть Сан-Франциско и находится рядом (особенно если смотреть по карте), туда минимум час езды в одну сторону. Может быть и больше, зависит от пробок. И по сути, именно Сан-Франциско является единственным полноценным городом в округе, т.к. центр Сан-Хосе действительно очень маленький и компактный.</p>
    {{/text}}

    {{> gallery names=(arr "49.jpeg" "50.jpeg")}}

    {{#> text}}
      <p>Сам город иногда похож на Нью-Йорк, иногда на Лос-Анджелес. Но хоть и меньше двух этих мегаполисов, определенно обладает своим собственным характером.</p>
    {{/text}}

    {{> gallery names=(arr "51.jpeg" "52.jpeg") descr="Центр СФ"}}

    {{#> text}}
      <p>Немалая заслуга в этом - рельеф. Город стоит на сильно холмистой местности. Поэтому улицы тут то спускаются вниз, то взмывают вверх, издалека становясь похожими на полностью отвесные стены, с каким то образом закрепленными на них домами.</p>
    {{/text}}

    {{> image name="53.jpeg" descr="GOD BLESS" h=true}}

    {{#> text}}
    <p>Центр города - чистый Нью-Йорк. Огромные небоскребы, толпы людей в костюмах, бездомные с нарисованными на картонках плакатами.</p>
    {{/text}}

    {{> gallery names=(arr "54.jpeg" "55.jpeg")}}

    {{#> text}}
      <p>Ну и конечно, самый главный символ города - мост Golden Gate. Огромный (2.7 км в длину) подвесной мост красно-кирпичного цвета, по сути являющийся вообще самым известным мостом. Был построен в 1937 году и соединил два берега одноименного пролива, почти 30 лет оставался самым большим в мире мостом.</p>
      <p>Когда мы подъехали к нему с океана дул очень холодный и сильный ветер. И судя по кронам деревьев, согнутых в сторону побережья, явление здесь это постоянное. Что интересно, буквально в несколько киллометров вглубь города и климат меняется, становится значительно теплее.</p>
    {{/text}}

    {{> image name="56.jpeg" descr="Golden Gate" h=true}}

    {{> image name="57.jpeg" h=true}}

    <div id="sf-santa-rosa-route">
      {{#> text}}
        {{> subHeader name="Дальше по 1 шоссе"}}

        <p>После нескольких дней отдыха мы отправиляемся опять в дорогу. Чтобы не терять время, из Сан-Хосе мы возращаемся в Санта-Круз по 17 скоростному шоссе.</p>

        <p>Снова первое шоссе. Слева снова Тихий океан, справа холмы и мы движемся на север.</p>
      {{/text}}

      {{> image name="61.jpeg" descr="Pigeon Point" h=true}}

      {{#> text}}
        <p>На побережье много бухт и опять много серферов.</p>
      {{/text}}

      {{> image name="64.jpeg" h=true}}

      {{#> text}}
        <p>Дорога петляет вдоль берега, обрывающегося утесами вниз, в шумные воды океана.</p>
      {{/text}}

      {{> image name="65.jpeg" descr="Дорога перед Сан-Франциско" h=true}}

      {{#> text}}
        <p>Мы вновь въезжаем в Сан-Франциско. Но на этот раз мы просто проезжаем через город и по мосту Золотые Ворота попадаем на другую сторону пролива.</p>
      {{/text}}

      {{> image name="66.jpeg" v=true}}

      {{#> text}}
        <p>Сразу за мостом делаем небольшую остановку на смотровой, чтобы в последний раз взглянуть на город, и отправляемся дальше.</p>
      {{/text}}

      {{> image name="67.jpeg" descr="Смотровая площадка с видом на город" h=true}}

      {{> image name="68.jpeg" v=true}}

      {{#> text}}
        <p>А дальше уже начинается настоящая Америка. Простая, сельская, состоящая из маленьких городков и поселений. Дорога становится более узкой, а места более дикими. Следующий крупный город - Портланд, штат Орегон, только через 750 миль.</p>
      {{/text}}

      {{> image name="69.jpeg" descr="Береговая линия выше СФ" h=true}}

      {{#> text}}
        <p>Берег здесь более высокий и обрывистый. Дорога - серпантин и ехать по нему немного утомляет, но все это хотя бы компенсируется видами.</p>
      {{/text}}

      {{> image name="70.jpeg" descr="Кипарисовый тунель" h=true}}

      {{#> text}}
        <p>Сворачиваем с шоссе, в национальный парк-побережье Point Reyes, знаменитый своей красивой береговой линией.</p>
        <p>А еще тут есть тунель из деревьев. Небольшая дорога в стороне от основной проходит сквозь ряды старых кипарисов и заканчивается старой, заброшенной морской радио станцией.</p>
      {{/text}}

      {{> image name="71.jpeg" descr="Останки корабля Point Reyes" h=true}}

      {{> image name="72.jpeg" h=true}}

      {{#> text}}
        <p>До берега мы в итоге так и не доезжаем, дорога плохая, а солнце уже начинает садиться. Решаем возвращаться в "цивилизацию".</p>
      {{/text}}
    </div>

    {{#> text}}
      {{> subHeader anchor="santa-rosa" name="Santa-Rosa"}}

      <p>К удивлению обнаруживаетя, что на 1 шоссе, мест в отелях почти нет. А ближайший свободный отель находится в городе Санта-Роза.</p>
    {{/text}}

    {{> gallery names=(arr "73.jpeg" "74.jpeg")}}

    {{#> text}}
      <p>Поэтому сворачиваем вглубь материка и уже по темноте доезжаем до места.</p>
    {{/text}}

    {{> image name="75.jpeg" descr="Наш отель Rodeway Inn" h=true}}

    {{> image name="76.jpeg" descr="В тумане" h=true}}

    {{#> text}}
      <p>Санта-Роза встречает нас густым туманом и суетящимися во дворе отеля мексиканцами. Что, впрочем, только добавляет атмосферы роад-муви.</p>
    {{/text}}

    {{> image name="77.jpeg" v=true}}

    {{#> text}}
      <p>Берем очередной 6-pack калифорнийской Hazy IPA. Еще один день дороги подошел к концу.</p>
    {{/text}}

    {{> image name="78.jpeg" h=true}}

    <div id="santa-rosa-oregon-route">
      {{#> text}}
        {{> subHeader name="Калифорния - Орегон"}}

        <p>Из отеля выезжаем рано утром.</p>
      {{/text}}

      {{> video name="bKDI0jsx3K8"}}

      {{#> text}}
        <p>Вчерашний туман никуда не делся и все по прежнему окутано густой дымкой.</p>
      {{/text}}

      {{> image name="79.jpeg" h=true}}

      {{#> text}}
        <p>Едем проселочными дорогами и все вокруг напоминает декорации к Silent Hill.</p>
      {{/text}}

      {{> image name="80.jpeg" h=true}}
      {{> image name="81.jpeg" h=true}}

      {{#> text}}
        <p>Проезжаем небольшой городок Sebastopol, речку Russian River и какую-то кафешку с русским флагом. Кажется мы вернулись в родную гавань...</p>
        <p>В знаменитый форт Росс мы приезжаем слишком рано и он еще закрыт, решаем не ждать и ехать дальше.</p>
      {{/text}}

      {{> gallery names=(arr "82.jpeg" "83.jpeg")}}

      {{> image name="88.jpeg" descr="Не хватило места в салоне 🙁" h=true}}

      {{#> text}}
        <p>Снова едем вдоль побережья...</p>
      {{/text}}

      {{> image name="84.jpeg" h=true}}
      {{> image name="85.jpeg" descr="Американские горки" h=true}}

      {{#> text}}
        <p>И снова дорога то поднимается вверх на очередной холм, то спускается вниз, практически к воде.</p>
      {{/text}}

      {{> image name="86.jpeg" h=true}}

      {{#> text}}
        <p>Но потом дорога резко сворачивает в глубь материка и сквозь густой хвойный лес выходит к городку (население чуть больше 100 человек) Leggett.</p>
        <p>Здесь заканчивается California State Route 1, ну а в качестве награды за пройденый путь здесь вы кончено же можете проехать сквозь огрмную секвойю и купить магнитик. Что мы и сделали (-20$).</p>
      {{/text}}


      {{> image name="87.jpeg" descr="Leggett, проезд через Секвойю" v=true}}

      {{#> text}}
        <p>Дальше мы продолжаем наш путь уже по 101 шоссе.</p>
      {{/text}}

      {{> gallery names=(arr "89.jpeg" "90.jpeg")}}

      {{#> text}}
        <p>Ясная погода чередуется с туманными участками и уже скоро начинает темнеть.</p>
      {{/text}}

      {{> image name="91.jpeg" h=true}}

      {{#> text}}
        <p>Сразу после заката мы выныриваем из леса на небольшой прибрежный участок.</p>
      {{/text}}

      {{> image name="92.jpeg" h=true}}
      {{> image name="93.jpeg" descr="Берег в Северной Калифорнии" h=true}}

      {{#> text}}
        <p>Решаем здесь сделать небольшую остановку, насладиться видом и немного размяться перед финальным броском до Орегона.</p>
      {{/text}}

      {{> image name="94.jpeg" h=true}}
      {{> image name="95.jpeg" h=true}}

      {{#> text}}
        <p>Дорога немного отдаляется от берега, лишь изредка показывая океан. Мы едем сквозь леса, холмы и небольшие пустынные городки.</p>
      {{/text}}

      {{> image name="96.jpeg" h=true}}
      {{> image name="97.jpeg" h=true}}

      {{#> text}}
        <p>Скоро становится совсем темно и все что видно из окна машины - лишь светящиеся полосы разметки и редкие дорожные знаки.</p>
      {{/text}}

      {{> image name="98.jpeg" h=true}}

      {{#> text}}
        <p>Едем еще пару часов в полной темноте и наконец доезжаем до отеля в Кус Бэй, штат Орегон.</p>
      {{/text}}

      {{> image name="oregon.png" v=true}}
    </div>

    <div id="coos-bay-portland-route">
      {{#> text}}
        {{> subHeader name="Орегон 🦫"}}

        <p>Добро пожаловать в самый "бобровый" штат! Ведь как гласит официальный слоган: Oregon - the beaver state.</p>
      {{/text}}

      {{> video name="-N5ef27p3Ik"}}

      {{#> text}}
        <p>Завтракаем панкейками в очень аутентичной американской кафешке и снова за руль.</p>
      {{/text}}

      {{> image name="99.jpeg" descr="McCullough Memorial Bridge" v=true}}
      {{> image name="100.jpeg" h=true}}

      {{#> text}}
        <p>Погода в Орегоне значительно отличается от калифорнийской, переменная облачность, местами дождь и никакого солнца (его почти и не будет вплоть до нашего возвращения в Калифорнию на обратном пути).</p>
      {{/text}}

      {{> image name="101.jpeg" descr="Вдалеке виднеются орегонские дюны - Oregon Dunes" h=true}}
      {{> image name="102.jpeg" h=true}}

      {{#> text}}
        <p>Делаем остановку и поднимаемся к старому маяку на побережье - Heceta Head Lighthouse. Маяк был построен в 1892 году и до сих пор является самым мощным на всем побережье штата Орегон.</p>
        <p>Но помимо самого маяка, с мыса на котором он установлен открываются шикарные виды на береговую линию. Океан немного штормило в тот день, поэтому пейзаж выглядел довольно сурово.</p>
      {{/text}}

      {{> image name="103.jpeg" descr="Cape Creek Bridge" h=true}}
      {{> image name="104.jpeg" h=true}}
      {{> image name="105.jpeg" descr="Виды с Heceta Head Lighthouse" h=true}}

      {{#> text}}
        <p>Чуть дальше вдоль побережья находятся Thor's Well (Колодец Тора). Это так называемые фонтаны соленой воды, по сути своей являются трещинами в прибрежных скалах, наполняемые силой прилива и периодически извергающие из себя столбы океанской воды.</p>
      {{/text}}

      {{> image name="108.jpeg" descr="Thor's Well" h=true}}
      {{> image name="109.jpeg" h=true}}

      {{#> text}}
        <p>Побережье Орегона, на самом деле, невероятно красиво. И чтобы по настоящему оценить его, наверное лучше было бы выбрать какое-нибудь более теплое время года.</p>
      {{/text}}

      {{> gallery names=(arr "106.jpeg" "107.jpeg")}}

      {{#> text}}
        <p>Но и в поздней осени с её бесконечными дождями что-то есть. Как минимум, отсутствие толп туристов и машин на дорогах.</p>
        <p>Мы доезжаем до городка Newport с его огромным мостом Yaquina Bay Bridge, выполненным в архитектурных стилях арт-деко, модерна и готики.</p>
      {{/text}}

      {{> image name="114.jpeg" descr="Yaquina Bay Bridge" h=true}}
      {{> image name="111.jpeg" v=true}}
      {{> image name="112.jpeg" h=true}}

      {{#> text}}
        <p>Здесь же мы сворачиваем со 101 шоссе и с побережья в сторону материка, чтобы до ночи успеть доехать до отеля.</p>
      {{/text}}

      {{> image name="110.jpeg" h=true}}
      {{> image name="115.jpeg" v=true}}
      {{> image name="116.jpeg" h=true}}
    </div>

    {{#> text}}
      {{> subHeader anchor="portland" name="Portland"}}

      <p>Практически сразу после заката приезжаем в Портланд, крупнейший город (но не столица) штата.</p>
    {{/text}}

    {{> image name="120.jpeg" descr="" h=true}}

    {{> gallery names=(arr "119.jpeg" "117.jpeg")}}

    {{> image name="118.jpeg" descr="" h=true}}
    {{> image name="121.jpeg" descr="" h=true}}
    {{> image name="122.jpeg" descr="" h=true}}

    {{> gallery names=(arr "123.jpeg" "124.jpeg")}}
    {{> gallery names=(arr "125.jpeg" "126.jpeg")}}
    {{> gallery names=(arr "127.jpeg" "128.jpeg" "129.jpeg")}}

    {{#> text}}
      <p>Fish</p>
    {{/text}}

    <div id="portland-seattle-route">
      {{#> text}}
        {{> subHeader name="Дождливый Вашингтон 🌲"}}

        <p>Fish</p>
      {{/text}}

      {{> gallery names=(arr "130.jpeg" "131.jpeg")}}

      {{> image name="washington.jpg" v=true}}
      {{> image name="132.jpeg" descr="" h=true}}
      {{> image name="133.jpeg" descr="" h=true}}
      {{> image name="134.jpeg" descr="" h=true}}
      {{> image name="135.jpeg" descr="" h=true}}
    </div>

    {{#> text}}
      {{> subHeader anchor="seattle" name="Seattle"}}

      <p>Fish</p>
    {{/text}}

    {{> image name="142.jpeg" descr="" v=true}}

    {{> gallery names=(arr "137.jpeg" "138.jpeg")}}

    {{> image name="136.jpeg" descr="" v=true}}

    {{> gallery names=(arr "139.jpeg" "140.jpeg")}}

    {{> image name="141.jpeg" descr="" v=true}}
    {{> image name="143.jpeg" descr="" h=true}}

    <h4 class="text-uppercase text-center my-5 py-5">To Be Continued...</h4>
  </div>
</div>
