---
layout: layouts/base.njk
title: PHOTOGRAPHY
metaImage: /images/photography/slideshow/2.jpg
---
<div class="slideshow-wrapper">
  <div class="slideshow">
    {{#each images}}
      <img src="{{this.url}}" alt="">
    {{/each}}
  </div>
</div>
