---
layout: layouts/base.njk
theme: light
title: iPhone 11 Pro — НОВА КАМЕРКА
metaImage: /images/photography/iphone-11pro/IMG_9787.JPEG
---
<div class="px-4 pb-4">
  <div class="container">
    <h2 class="my-4 font-italic">iPhone 11 Pro <small class="text-muted">нова камерка</small></h2>

    <blockquote class="blockquote text-center my-5">
      <p class="mb-0">«Ничего лишнего. Только самое.»</p>
      <footer class="blockquote-footer">Apple Inc.</footer>
    </blockquote>

    <p>В сентябре 2019 года вышел очередной "новый" телефон от компании Apple, одинадцатый по счету. iPhone 11 Pro – верхняя модель, имеет сразу три камеры и именно про них будет этот материал.</p>
    <p>Для начала немного технической информации, а именно почему в телефон поставили именно три камеры и для чего нужна каждая из них. Вот список камер, их официальные названия, фокусные расстояния и максимальная светосила каждой.</p>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Стандартная</th>
          <td><i class="fas fa-camera"></i> СТ</td>
          <td>26 мм</td>
          <td>f1.8</td>
        </tr>
        <tr>
          <th scope="row">Телефото</th>
          <td><i class="fas fa-camera"></i> ТФ</td>
          <td>51 мм</td>
          <td>f2.0</td>
        </tr>
        <tr>
          <th scope="row">Ультра-ширик</th>
          <td><i class="fas fa-camera"></i> УШ</td>
          <td>13 мм</td>
          <td>f2.4</td>
        </tr>
      </tbody>
    </table>
    <p>Как видно самое главное отличие это фокусное расстояние (в таблице указаны ЭФР), которое определяет угол зрения каждой камеры или по простому "зум". Таким образом у нас есть стандартная камера, которая на самом деле является широкоугольной, телефото камера, которая является стандартной :) и сверх-ширик, тут с названием все ок. Телефото – это камера с максимальным зумом, ультра-ширик – полная противоположность, а стандарт – по середине. У всех камер достаточно высокая светосила, диафрагма фиксированная. Таким образом три камеры были добавлены для расширения возможностей фотографа и для того чтобы у телефона было большее количество данных с которым он может работать.</p>
    <p>Думаю таких кратких технических данных будет достаточно и можно уже перейти к самим фотографиям и каким-то небольшим заметкам о съемке.</p>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_9732.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">Старбакс Авто и стратовулкан Шаста, Калифорния. <i class="fas fa-camera"></i> ТФ</div>
  </div>

  <div class="container">
    <p>Во время последнего путешествия на машине по США я решил сменить свой старый SE на последний iPhone с "самой навороченной" камерой в классе. А заодно и посмотреть сможет ли самый современный смартфон заменить мне мою довольно старую беззеркальную камеру Fujifilm X-T20.</p>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_9760.JPEG" class="img-fluid">
    <div class="mt-2 text-muted">Мексиканский ресторан на 5 интерстейте, Калифорния. <i class="fas fa-camera"></i> ТФ</div>
  </div>

  <div class="container">
    <p>Все фотографии были сняты в течении одного месяца. Использовалось либо стандартная камера iOS, либо камера <a href="https://halide.cam/" target="_blank">Halide</a>. Для обработки я использовал приложение <a href="https://darkroom.co/" target="_blank">Darkroom</a>. Но надо сказать, что обработка требуется минимальная или не нужна вовсе, так как фотографии, благодаря продвинутым встроенным алгоритмам телефона, уже получаются хорошего качества.</p>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_9746.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">Дамба Шаста, Калифорния. <i class="fas fa-camera"></i> УШ</div>
  </div>

  <div class="container">
    <p>Все три камеры хорошо снимают днем и при хорошем освещении. Разве что ультра-ширик очень уж сильно мылит по краям кадра, но на экране телефона это будет мало заметно так что все ок.</p>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_9719.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">Розебург, Орегон. <i class="fas fa-camera"></i> СТ</div>
  </div>

  <div class="container">
    В принципе разрешение всех камер достаточное для просмотра на смартфоне, планшете, ноутбуках и печати на небольших форматах (хотя кто сейчас вообще печатает фотки?!). Но на больших экранах или на супер-ретине фотографии уже не выглядят резкими, в этом смартфон заметно уступает БЗК.
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_9576.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">Дорога в штате Вашингтон. <i class="fas fa-camera"></i> ТФ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_9602.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">Залив Виллапа, Вашингтон. <i class="fas fa-camera"></i> УШ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_9560.JPEG" class="img-fluid">
    <div class="mt-2 text-muted">Из окна номера отеля в Сиэтле. <i class="fas fa-camera"></i> СТ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_9606.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">Мост через устье реки Коламбия. Астория, Орегон. <i class="fas fa-camera"></i> ТФ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_9614.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">Река Коламбия впадает в Тихий Океан. Астория, Орегон. <i class="fas fa-camera"></i> ТФ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_9626.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">Река Коламбия, разделяющая штаты Вашингтон и Орегон. <i class="fas fa-camera"></i> ТФ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_9640.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">Кэннон-Бич. Орегон. <i class="fas fa-camera"></i> УШ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_9686.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">Кэннон-Бич. Орегон. <i class="fas fa-camera"></i> ТФ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_9811.JPEG" class="img-fluid">
    <div class="mt-2 text-muted">Вечером в центре Сан-Хосе. Калифорния. <i class="fas fa-camera"></i> ТФ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_9765.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">Заправка Shell в Сакраменто. Калифорния. <i class="fas fa-camera"></i> ТФ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_9784.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">У музея железной дороги в Сакраменто. Калифорния. <i class="fas fa-camera"></i> ТФ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_9786.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">Старая развязка в центре Сакраменто. Калифорния. <i class="fas fa-camera"></i> СТ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_9787.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">По дороге в отель в Сакраменто. Калифорния. <i class="fas fa-camera"></i> СТ</div>
  </div>

  <div class="container">
    <p>На этом все ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis dignissim elit ac congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut ipsum et metus mollis consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed sollicitudin elit non urna fringilla, at fermentum metus commodo. Integer consequat scelerisque accumsan. Pellentesque condimentum imperdiet tempor. Aliquam mattis porttitor fermentum. Ut eget nisl varius, pharetra nibh id, scelerisque ipsum. Curabitur sit amet auctor elit. Praesent vel iaculis tortor. Ut vel blandit metus.</p>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_9953.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">Закат на Войковской. Москва. <i class="fas fa-camera"></i> ТФ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_9963.JPEG" class="img-fluid">
    <div class="mt-2 text-muted">ЖК Лебедь. Москва. <i class="fas fa-camera"></i> ТФ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_9976.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">Головинский район. Утро. Москва. <i class="fas fa-camera"></i> ТФ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_0082.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">На окраине Владимира. Зима. <i class="fas fa-camera"></i> СТ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_0118.JPEG" class="img-fluid">
    <div class="mt-2 text-muted">Головинский район. Вечер. Москва. <i class="fas fa-camera"></i> ТФ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_0146.JPEG" class="img-fluid">
    <div class="mt-2 text-muted">Закат, мыло и ЖК Лебедь. Москва. <i class="fas fa-camera"></i> УШ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_0160.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">D2 Дмитровская. Out of focus. Москва. <i class="fas fa-camera"></i> ТФ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_0161.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">Все таже Дмитровская. Москва. <i class="fas fa-camera"></i> ТФ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_0173.JPEG" class="img-fluid">
    <div class="mt-2 text-muted">ЖК Водный. Москва. <i class="fas fa-camera"></i> УШ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_0182.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">Войковский район вечером. Москва. <i class="fas fa-camera"></i> ТФ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_0328.JPEG" class="img-fluid">
    <div class="mt-2 text-muted">Таинственная незнакомка в центре Москвы. <i class="fas fa-camera"></i> СТ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_0203.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">Москва-Сити. Вид из подворотни. <i class="fas fa-camera"></i> СТ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_0457.JPEG" class="img-fluid">
    <div class="mt-2 text-muted">Коптевский портал в другое измерение. Москва. <i class="fas fa-camera"></i> ТФ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_0282.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">Парк Ходынское поле зимой. Москва. <i class="fas fa-camera"></i> СТ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_0475.JPEG" class="img-fluid">
    <div class="mt-2 text-muted">Ох уж эти Московские паласы. <i class="fas fa-camera"></i> СТ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_0481.JPEG" class="img-fluid">
    <div class="mt-2 text-muted">ЖК Лебедь и холодное московское утро. <i class="fas fa-camera"></i> ТФ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_0489.JPEG" class="img-fluid">
    <div class="mt-2 text-muted">Китай-городок. Москва. <i class="fas fa-camera"></i> ТФ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_0495.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">В ожидании автобуса. Водный стадион. Москва. <i class="fas fa-camera"></i> СТ</div>
  </div>

  <div class="img-wrapper">
    <img src="/images/photography/iphone-11pro/IMG_0608.JPEG" class="img-fluid w-100">
    <div class="mt-2 text-muted">Беговой район. Крыша. Москва. <i class="fas fa-camera"></i> ТФ</div>
  </div>
</div>
