---
layout: layouts/base.njk
title: NYC - MAP
pageStyle:
  - https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css
  - /styles/lightgallery.min.css
---
<div class="full-screen">
  <h2 class="font-italic map-title-nyc">
    NYC - <span class="lcl" data-lcl="map">{{{ defaultLocale 'map' }}}</span>
  </h2>
  <div class="h-100 w-100 text-dark map-nyc"></div>
</div>
