---
layout: layouts/base.njk
title: NYC - MAP
pageStyle:
  - https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css
  - /styles/lightgallery.min.css
---
<div class="container-fluid container-full-screen px-4 d-flex flex-column">
  <h2 class="mb-3 font-italic">
    NYC - <span class="lcl" data-lcl="map">{{{ defaultLocale 'map' }}}</span>
  </h2>
  <div id="mapNYC" class="flex-grow-1 text-dark"></div>
</div>
